# ==============================================================================
# Capstone Project .gitignore - Nancy & Michelle
# ==============================================================================

# 1. Project Data Directories 
# Ignore ONLY large CSV files (if they are too big for GitHub)
data/**/*.csv

# But specifically allow the master dataset
!data/processed/master_dataset_all_variables.csv

# Exclude bulky raw binary data files
*.xlsx
*.xls

# 2. R Environment and Temporary History
# Excludes local workspace files and command history logs
.Rhistory
.RData
.Ruserdata
.Renviron
.Rproj.user/

# 3. Formatted Document Output Cache
# Prevents locally knitted PDF/HTML/Word drafts from cluttering commits
*.html
*.pdf
*.docx
.ipynb_checkpoints/
*.tex

# 4. Hidden System Files
# Prevents your Mac's folder customization files from being uploaded
__pycache__/
.DS_Store
Thumbs.db
.venv/

# We want to ignore the massive library folder
renv/library/
renv/local/
renv/staging/
# BUT we MUST track these files to allow renv::restore() to work
!renv/activate.R
!renv/settings.json

.env/
.pytest_cache/

# 5. Quarto / RStudio Build Artifacts
.quarto/
*_cache/